
@model IEnumerable<MvcEvidence.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card mt-5">
                <div class="card-header d-flex">
                    <div class="mr-auto bd-highlight"> <strong>All Courses Course</strong></div>
                    <div class=" bd-highlight"> <a href='@Url.Action("Create", "Course")' class="btn btn-info btn-sm rounded-0"><i class="fa fa-plus"></i>  Create Course</a></div>



                </div>
                <div class="card-body">


                    <table class="table table-bordered table-striped">
                        <thead class="table-light">
                            <tr>

                                <th>@Html.DisplayNameFor(x => x.CourseName)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var b in Model)
                            {
                                <tr>

                                    <td>@Html.DisplayFor(x => b.CourseName) </td>
                                    <td style="width:150px;" class="text-center">

                                        <a title="Edit this item" href="@Url.Action("Edit", "Course", new { id=b.CourseId})" class="btn btn-primary btn-sm rounded-0"><i class="fa fa-edit"></i></a>
                                        <a title="Delete this item" href="@Url.Action("Delete", "Course", new { id=b.CourseId})" class="btn btn-danger btn-sm rounded-0 " data-toggle="modal" data-target="#deleteModal-@b.CourseId"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>

                                <!-- Delete  Modal -->
                                <div class="modal" id="deleteModal-@b.CourseId">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <strong>Are you sure want to delete?</strong>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body d-flex justify-content-center">


                                                <form action="Course/Delete/@b.CourseId" method="post">
                                                    @Html.AntiForgeryToken()

                                                    <div class="form-actions no-color">
                                                        <input type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" />

                                                    </div>
                                                </form>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>



